.div{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-decoration: none;
    width: 12rem;
    height: 16rem;
   
    /* border: 2px solid black ; */
    border-radius: 1rem;
}
.div:hover{
   /* vamos hacer que la imagen se vuelva mas grande */
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.h3{
    text-decoration: none;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
    color: black;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff,
   0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px 0 #fff, -1px -1px 0 #fff,
   -1px 1px 0 #fff, 1px -1px 0 #fff;
}
.h5{
    border-radius: 0.3rem;
    min-width: 9rem;
    margin-top: 0rem;
    text-decoration: none;
}
/* .img{

} */