.li{
    display: inline-block;  
    
    }

.a {
    color: rgb(254, 254, 254);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 0.3rem;
    background-color:#000000;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff,
   0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px 0 #fff, -1px -1px 0 #fff,
   -1px 1px 0 #fff, 1px -1px 0 #fff;
}
.a2{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.3rem;
    background-color:#fafafaf3;
    color: black;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff,
   0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px 0 #fff, -1px -1px 0 #fff,
   -1px 1px 0 #fff, 1px -1px 0 #fff;
}
.a:hover{
    transition: background-color .8s;
    background-color: #000000;
    color: rgb(0, 0, 0);
    border: 1.5px solid white;
} 
.a2:hover{
    transition: background-color .8s;
    background-color: #000000;
    color: white;
    border: 1.5px solid white;
}
  
  